.auction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.title {
  color: var(--neutrals-8);
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  line-height: 1;
}

.about {
  display: flex;
  gap: 2rem;
  max-width: 100%;
  overflow: hidden;
}

.current_bid {
  margin-bottom: 40px;
}

.button {
  width: 100%;
}

.button:first-of-type {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .auction {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
  }

  .media {
    max-width: 640px;
    width: 100%;
    max-height: 800px;
  }

  .image {
    margin-bottom: 0;
  }

  .info {
    max-width: 352px;
    margin-bottom: 3rem;
    width: 100%;
  }
}
