.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 0.5rem;
}

.control {
  border: 2px solid var(--neutrals-3);
  border-radius: 2.5rem;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  opacity: 0.5;
  border-width: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .controls {
    justify-content: flex-start;
  }
}
