.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 4rem;
}

.description {
  color: var(--neutrals-4);
  font-family: 'Poppins';
  font-size: 0.62rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  order: -1;
}

.slogan {
  color: var(--neutrals-8);
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 1.5rem;
}
